h1 {
    color: rgb(21, 21, 122);
    background-color: rgb(185, 238, 240);
}

h2 {
    color: rgb(11, 60, 103);
}

footer {
    color: gray;
}

.now-page {
    padding: 3px 8px;
    border: 1px solid #ccc;
    background-color: rgb(217, 244, 249);
    color: #333;
}